*{
    margin: 100;
    padding: 100;
}
.grid {
border: 2px solid rgb(235, 233, 255);
background-color: rgb(255, 243, 204);
border-radius: 35px; ;
}
body{
  background-image:url('background.jpg');

}
.text{
    font-family:fantasy;
    font-weight: 400;
    color: rgb(25, 216, 191);
}
.origami{
    background-image: url('images.jpg');
    color: cornsilk;
    font-family:cursive;
    font-weight: 400;
}